/* Couleurs, polices et tailles des cellules. */

body {
  background-color: #ECE9D8;
}
body, button, select, input {
  font-family: 'Courier';
  font-weight: bold;
}
#stats, td, th, button {
  background-color: #C0C0C0;
}
tr, td, button {
  height: 25px;
  min-width: 25px;
}
td, th {
  border-color: #808080;
}
.error {
  background-color: #FF0000;
}
.success {
  background-color: #00FF00;
}

/* Autres styles */

body *, button {
  text-align: center;
  vertical-align: middle;
}
fieldset > * {
  margin: 5px;
}
#stats {
  border-style: inset;
  border-width: 2px;
  display: flex;
  justify-content: space-between;
  min-width: 236px;
}
#stats, #players {
  margin: 10px auto;
}
#stats > * {
  margin: 5px;
}
#players tr > * {
  padding: 5px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
}
tr, td, button {
  padding: 0;
}
td, th {
  border-style: solid;
  border-width: 1px;
}
button {
  border-radius: 0;
  border-style: outset;
  border-width: 2px;
}
